html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 10em;
  height: 100%; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  pointer-events: none;
  background: #f0f0f0;
  padding: 1em;
}

.interface > * {
  pointer-events: auto;
}
